* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  font-family: sans-serif;
  color: orange;
  background-color: rgb(20, 19, 19);
}

header {
  padding: 5vh;
}

.library {
  display: grid;
  grid-template-columns: repeat(4, 24vw);
  grid-auto-rows: 30vh;
  grid-gap: 0.8em;
}

img {
  width: 100%;
  height: 26vh;
}

a {
  color: orange;
  text-decoration: none;
}
